.elements {
    max-width: 400px;
    margin: 0vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(149, 155, 154);
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 1px;
}
#c {
    background-color: rgb(45, 25, 30);
    color: rgb(247, 68, 78);
}
#view {
    text-align: right;
    height: 130px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 60px;
}

.keypad {
    display: grid;
    border-bottom: 0px solid #999;
    border-left: 0px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.keypad > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-style:groove;
    border-collapse: collapse;
}

#op1 {
    background-color: rgb(255,149 , 0);
}

#op2 {
    background-color: rgb(255,149 , 0);
}

#op3 {
    background-color: rgb(255,149 , 0);
}

#op4 {
    background-color: rgb(255,149 , 0);
}

.button {
    font-family: Algerian,;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgb(82, 82, 82);
    line-height: 95px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    border-radius: 10px;
    padding: 1px;

    
}

#equal {
    background-color: rgb(46, 201, 115);
    color: rgb(255, 255, 255);
}

.button:hover {
    background-color: rgb(75, 74, 74);
    color: white;
    transition: 0.3s ease-in-out;
}